{% extends 'base.html' %}

{% block title %}Login | Dev.Souza Blog{% endblock %}
{% block meta_description %}Access your Dev.Souza Blog account to manage your posts, comments, and personalized settings.{% endblock %}

{% block content %}
{% load crispy_forms_tags %}


<h3 class="text-center">Login</h3>

<form action="{% url 'login' %}" class="border p-5 rounded-1 bg-light-suble" method="POST" style="width:600px; margin:auto;">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-info">Login</button>
</form>
<br>
{% endblock %}