{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder">{{ blog.title }}</h1>
                    <hr>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ blog.created_at | timesince }} by {{ blog.author }}</div>
                    <!-- Post category-->
                    <a class="badge bg-primary text-decoration-none text-light" href="#!"></a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ blog.image.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ blog.short_description }}</p>
                    <p class="fs-5 mb-4">{{ blog.blog_body }}</p>
                    <h4 class="text-dark">Technologies Used:</h4>
                    <i class="bi bi-person-check me-2 text-danger"></i><span>{{ blog.technologies }}</span>
                    <p class="fs-5 mb-2 mt-3"><strong class="text-bg-dark p-1 rounded">Documentation:</strong> <a href="{{ blog.url_github }}" target="_blank" class="text-decoration-none">{{ blog.url_github }}</a></p>
                    <p class="fs-5 mb-4"><strong class="text-bg-success p-1 rounded">Demo Live:</strong> <a href="" target="_blank" class="text-decoration-none">https://www.exemple.com</a></p>
                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for cat in categories %}
                                    {% if forloop.counter <= 4 %}
                                        <li><a href="#!">{{ cat }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for cat in categories %}
                                    {% if forloop.counter > 4 %}
                                        <li><a href="#!">{{ cat }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    <li><a href="#"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/>GitHub</a></li>
                    <li><a href="#"><img width="48" height="48" src="https://img.icons8.com/fluency/48/linkedin.png" alt="linkedin"/>LinkedIn</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
